SENTINEL_ENV=development
SENTINEL_DATABASE_PATH=data/sentinel_net.db
SENTINEL_API_HOST=127.0.0.1
SENTINEL_API_PORT=8000
SENTINEL_API_KEY=changeme-dev
SENTINEL_LOG_LEVEL=INFO
SENTINEL_PCAP_DIR=data/pcaps
